<div class="layout">
  <aside class="sidebar">
    <div class="logo">
      <img src="https://images.seeklogo.com/logo-png/48/1/threads-logo-png_seeklogo-489791.png" alt="Threads Logo" />
    </div>
    <nav>
      <ul class="nav-buttons">
        <li><a routerLink="/" class="nav-btn" title="Home">
          <img src="assets/home.png" alt="Home">
        </a></li>
      
        <li><a routerLink="/create" class="nav-btn" title="Create">
          <img src="assets/plus.png" alt="Create">
        </a></li>
      
        <li><a routerLink="/likes" class="nav-btn" title="Likes">
          <img src="assets/heart.png" alt="Likes">
        </a></li>
      
        <li><a routerLink="/profile" class="nav-btn" title="Profile">
          <img src="assets/person.png" alt="Profile">
        </a></li>
      
        <li><a routerLink="/bookmarks" class="nav-btn" title="Bookmarks">
          <img src="assets/search.png" alt="Search">
        </a></li>
      </ul>
      
    </nav>
  </aside>

  <main class="feed">
    <router-outlet></router-outlet>
  </main>

  <aside class="right-panel">
    <div class="login-box">
      <h3>Log in or sign up for Threads</h3>
      <p>See what people are talking about and join the conversation.</p>
      <button>Continue with Instagram</button>
      <a href="#">Log in with username instead</a>
    </div>
  </aside>
</div>
